{% extends 'base.html' %}
{% load static %}

{% block title %}
  Inicio |{% if project and project.title %}
    {{ project.title }}
  {% else %}
    ACASA Poza Azul
  {% endif %}
{% endblock %}

{% block content %}

  {% include "home/partials/resumen.html"%}
  {% include "home/partials/lecturas.html"%}
  {% include "home/partials/cobros.html"%}
  {% include "home/partials/reparaciones.html"%}
  {% include "home/partials/alert_tarifa.html"%}
  
  <div id="inicio">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 80vh;">
      <img src="{% if project and project.logo %}
          {{ project.logo.url }}
        {% else %}
          {% static 'img/image-not-found.png' %}
        {% endif %}"
        class="mb-4 rounded-circle border border-5 border-info shadow-lg logo-principal" />
      <h1 class="display-4 text-center text-primary fw-light">
        {% if project and project.title %}
          Proyecto {{ project.title }}
        {% else %}
          Proyecto ACASA Poza Azul
        {% endif %}
      </h1>
    </div>
  </div>
{% endblock %}
