{% extends "base.html" %}
{% load static %}

{% block title %}Nueva Reunión - ACASA Poza Azul{% endblock %}

{% block content %}
<div class="container my-5 pt-4 content-with-sidebar">
  <div class="card">
    <div class="card-header card-header-custom">
      <h5 class="mb-0">Formulario de Registro de Reunión</h5>
    </div>
    <div class="card-body">
      <form method="POST" id="meetingForm" novalidate>
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-12 col-md-6">
            <label for="id_title" class="form-label">Título de reunión: <span class="text-danger">*</span></label>
            {{ form.title }}
          </div>

          <div class="col-12 col-md-6">
            <label for="id_date" class="form-label">Fecha de reunión: <span class="text-danger">*</span></label>
            {{ form.date }}
          </div>

          <div class="col-12 col-md-6">
            <label for="id_start_time" class="form-label">Hora de inicio: <span class="text-danger">*</span></label>
            {{ form.start_time }}
          </div>

          <div class="col-12 col-md-6">
            <label for="id_end_time" class="form-label">Hora de fin: <span class="text-danger">*</span></label>
            {{ form.end_time }}
          </div>

          <div class="col-12">
            <div class="form-check form-switch">
              {{ form.isActive }}
              <label class="form-check-label" for="id_isActive">¿Reunión activa?</label>
            </div>
          </div>
        </div>

        <div class="mt-3 text-muted">
          <span class="text-danger">*</span> Campos obligatorios
        </div>

        <div class="mt-3 d-flex justify-content-end gap-2">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-save me-2"></i> Guardar
          </button>
          <a href="{% url 'meeting_list' %}" class="btn btn-secondary">
            <i class="fas fa-times me-2"></i> Cancelar
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
{% endblock %}



<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Tu script general -->
<script src="{% static 'js/script.js' %}"></script>

