<div class="table-responsive rounded-3" id="community-table-content">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Proyecto</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="community-table-body">
            {% for community in page_obj %}
                {% include "partials/community_row_table.html" %}
            {% empty %}
                <tr>
                    <td colspan="4">No hay resultados</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "partials/paginator.html" with hx_url=community_search_url hx_target="#community-table-content" per_page_options=per_page_options %}
</div>
