<tr id="meeting-{{ meeting.id }}">
    <td>{{ meeting.title }}</td>
    <td>{{ meeting.date|date:"d-m-Y" }}</td>
    <td>{{ meeting.start_time }}</td>
    <td>{{ meeting.end_time }}</td>
    <td>
        {% if meeting.isActive %}
        <span class="badge bg-success">Programada</span>
        {% else %}
        <span class="badge bg-secondary">Suspendida</span>   
        {% endif %}
    </td>
    <td class="text-center">
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-outline-primary"
                hx-get="{% url 'meet_edit' meeting.id %}"
                hx-target="#meet-content-modal"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
            >
                <i class="fas fa-edit"></i>
            </button>
        </div>
    </td>
</tr>