<tr id="meeting-{{ meeting.id }}">
    <td>{{ meeting.title }}</td>
    <td>{{ meeting.date|date:"d-m-Y" }}</td>
    <td>{{ meeting.start_time }}</td>
    <td>{{ meeting.end_time }}</td>
    <td>
    {% if meeting.status == "Programada" %}
        <span class="badge bg-success">Programada</span>
    {% elif meeting.status == "En proceso" %}
        <span class="badge bg-warning text-dark">En Proceso</span>
    {% elif meeting.status == "Suspendida" %}
        <span class="badge bg-secondary">Suspendida</span>
    {% else %}
        <span class="badge bg-dark">Finalizada</span>
    {% endif %}
    </td>


    <td class="text-center">
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-outline-primary"
                hx-get="{% url 'meet_edit' meeting.id %}"
                hx-target="#meet-content-modal"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
            >
                <i class="fas fa-edit"></i>
            </button>
        </div>
    </td>
</tr>