<div class="input-group search-input-group">
    <span class="input-group-text" id="addon-wrapping">
        <i class="fas fa-search me-1"></i>
    </span>
    <input
        type="text"
        name="q"
        class="form-control"
        placeholder="{{ placeholder|default:'Buscar...' }}"
        hx-get="{{ hx_url }}"
        hx-target="{{ hx_target }}"
        hx-trigger="keyup changed delay:500ms"
        hx-on::before-request="document.querySelector('{{ hx_target }}').style.opacity = 0.4;"
        hx-on::after-request="document.querySelector('{{ hx_target }}').style.opacity = 1.0;"
        hx-include="[name='q']"
    >
</div>