<div class="row mt-4 mb-2 text-center">
  <div class="col-12">
    <h1 class="h3">Gestión de socios</h1>
  </div>
</div>

<div class="table-container rounded-4 shadow p-4">    
  <div class="header-controls">
    <button class="btn btn-success"
            hx-get="{% url 'partner_create' %}"
            hx-target="#main-container"
            hx-swap="innerHTML">
      <i class="fas fa-plus me-1"></i> Agregar Nuevo Socio
    </button>
    {% include "partials/search_table.html" with hx_url=partners_search_url hx_target="#table-content" placeholder="Buscar Socio..." %}
  </div>
  {% include "partials/partner/partners_table.html" %}
</div>
