<tr id="connection-{{ connection.id }}">
    <td>{{ connection.description  }}</td>
    <td>{{ connection.responsible.first_name }} {{ connection.responsible.last_name }}</td>
    <td>{{ connection.date}}</td>
    <td>$ {{ connection.acquisition_price}}</td>
    <td>
        {% if connection.is_active %}
        <span class="badge bg-success">Activo</span>
        {% else %}
        <span class="badge bg-secondary">Inactivo</span>   
        {% endif %}
    </td>
    <td class="text-center">
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-outline-primary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <span class="visually-hidden">Acciones</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" 
                        class="dropdown-item"
                        onclick="toggleConnectionStatus({{ connection.pk }}, '{{ connection.is_active }}', '{{ csrf_token }}')">
                        {% if connection.is_active %}
                            <i class="fa-solid fa-droplet-slash me-2"></i> Desactivar
                        {% else %}
                            <i class="fa-solid fa-droplet me-2"></i> Activar
                        {% endif %}
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                        href="#"
                        hx-get=""
                        hx-target="#main-container"
                        hx-swap="innerHTML">
                        <i class="fas fa-eye me-1"></i> Ver
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                        href="#"
                        hx-get=""
                        hx-target="#main-container"
                        hx-swap="innerHTML">
                        <i class="fa-solid fa-pen-to-square me-1"></i> Editar
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>

<script>
    function toggleConnectionStatus(pk, isActive, csrfToken) {
    const action = isActive === "True" ? "desactivar" : "activar";

    Swal.fire({
      title: `¿Seguro que deseas ${action} esta acometida?`,
      text: "Esta acción desactivara la acometida.",
      icon: "question",
      showCancelButton: true,
      customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-secondary'
          },
      confirmButtonText: "Sí, continuar",
      cancelButtonText: "Cancelar"
    }).then((result) => {
      if (result.isConfirmed) {
        htmx.ajax('POST', `estado/${pk}`, {
          target: "#main-container",
          swap: "innerHTML",
          headers: {
            "X-CSRFToken": csrfToken
          }
        });
      }
    });
  }

  document.body.addEventListener("connectionActivated", () => {
    Swal.fire({
      title: "¡Activada!",
      text: "La acometida ha sido activado correctamente.",
      icon: "success",
      timer: 2000,
      showConfirmButton: false
    });
  });

  document.body.addEventListener("connectionDeactivated", () => {
    Swal.fire({
      title: "¡Desactivado!",
      text: "La acometida ha sido desactivado correctamente.",
      icon: "success",
      timer: 2000,
      showConfirmButton: false
    });
  });
</script>