<tr id="connection-{{ connection.id }}">
    <td>{{ connection.description  }}</td>
    <td>{{ connection.responsible.first_name }} {{ connection.responsible.last_name }}</td>
    <td>{{ connection.responsible.community.name }}</td>
    <td>
        {% if connection.has_current_reading %}
            <span class="badge bg-success">Registrada</span>
        {% else %}
            <span class="badge bg-secondary">Pendiente</span>
        {% endif %}
    </td>
    <td class="text-center">
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-outline-primary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <span class="visually-hidden">Acciones</span>
            </button>
            <ul class="dropdown-menu">
                {% if connection.has_current_reading %}
                    {% if not connection.current_reading_isPaid %}
                    {% if perms.reading.add_reading %}
                        <li>
                            <a href=""
                                class="dropdown-item"
                                data-bs-toggle="modal"
                                data-bs-target="#readingModal"
                                hx-get="{% url 'search_connection_reading' connection.id 'edit' %}"
                                hx-target="#reading-content-modal"
                                hx-trigger="click">
                                    <i class="fas fa-edit me-2"></i> Editar
                            </a>
                        </li>
                    {% endif %}
                    {% endif %}
                    <li>
                        <a href=""
                            class="dropdown-item"
                            data-bs-toggle="modal"
                            data-bs-target="#readingModal"
                            hx-get="{% url 'search_connection_reading' connection.id 'view' %}"
                            hx-target="#reading-content-modal"
                            hx-trigger="click">
                                <i class="fas fa-eye me-2"></i> Ver
                        </a>
                    </li>
                {% else %}
                {% if perms.reading.add_reading %}
                    <li>
                        <a href=""
                            class="dropdown-item"
                            data-bs-toggle="modal"
                            data-bs-target="#readingModal"
                            hx-get="{% url 'reading_create' connection.id %}"
                            hx-target="#reading-content-modal"
                            hx-trigger="click">
                                <i class="fa-solid fa-gauge-high me-2"></i> Registrar
                        </a>
                    </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </td>
</tr>