<div class="row mt-4 mb-2 text-center">
  <div class="col-12">

    <!-- Título con ayuda -->
    <div class="d-flex justify-content-center align-items-center gap-2">
        <h1 class="h3 m-0">Gestión de Lecturas</h1>

        <!-- Botón de ayuda con modal -->
        <a href="#"
           class="btn btn-link btn-sm me-2"
           data-bs-toggle="modal"
           data-bs-target="#infoLecturas"
           role="button">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </div>

    <h2 class="h4">{{ today|date:"F \\d\\e Y" }}</h2>
  </div>
</div>


<div class="table-container rounded-4 shadow p-4">    
  <div class="header-controls d-flex align-items-end justify-content-between">
    
      <div class="text-center">
        <div class="card border-0 shadow-sm rounded-4 py-2 px-2 d-inline-block">
          <span class="text-primary">
            Lecturas registradas
          </span>

          <div class="display-6 fw-bold text-dark">
            {{ count_readings }}
            <span class="text-muted fs-5">/ {{ count_connections }}</span>
          </div>

        </div>
      </div>

    {% include "partials/search_table.html" with hx_url=reading_search_url hx_target="#table-content" placeholder="Buscar Acometida..." %}
  </div>
  {% include "reading/partials/readings_table.html" %}
</div>

{% include "reading/partials/reading_create_modal.html" %}

<div class="modal fade" id="infoLecturas" tabindex="-1" aria-labelledby="infoLecturasLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="infoLecturasLabel">Información de Gestión de Lecturas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <p><strong>Lecturas registradas:</strong> Muestra cuántas lecturas ya se han ingresado este mes.</p>
        <p><strong>Buscar acometidas:</strong> Puedes buscar por número de acometida o por socio.</p>
        <p><strong>Registro de lectura:</strong> Desde este módulo puedes agregar nuevas lecturas o editar lecturas existentes.</p>
        <p><strong>Actualización inmediata:</strong> Al guardar o actualizar una lectura verás confirmaciones automáticas.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>

<script>
document.body.addEventListener("readingCreated", () => {
    Swal.fire({
      title: "¡Lectura guardada!",
      text: "La lectura se registró correctamente.",
      icon: "success",
      timer: 2000,
      showConfirmButton: false
    }).then(() => {
        window.location.href = "{% url 'readings_list' %}";
    });
  });

  document.body.addEventListener("readingUpdated", () => {
    Swal.fire({
      title: "¡Lectura actualizada!",
      text: "La lectura se actualizo correctamente.",
      icon: "success",
      timer: 2000,
      showConfirmButton: false
    }).then(() => {
        window.location.href = "{% url 'readings_list' %}";
    });
  });
</script>