<div class="row mt-4 mb-2 text-center">
  <div class="col-12">
    <h1 class="h3">Gestión de Lecturas</h1>
    <h2 class="h4">{{ today|date:"F \\d\\e Y" }}</h2>
  </div>
</div>

<div class="table-container rounded-4 shadow p-4">    
  <div class="header-controls d-flex justify-content-end">
    {% include "partials/search_table.html" with hx_url=reading_search_url hx_target="#table-content" placeholder="Buscar Acometida..." %}
  </div>
  {% include "reading/partials/readings_table.html" %}
</div>

{% include "reading/partials/reading_create_modal.html" %}


<script>
document.body.addEventListener("readingCreated", () => {
    Swal.fire({
      title: "¡Lectura guardada!",
      text: "La lectura se registró correctamente.",
      icon: "success",
      timer: 2000,
      showConfirmButton: false
    }).then(() => {
        window.location.href = "{% url 'readings_list' %}";
    });
  });

  document.body.addEventListener("readingUpdated", () => {
    Swal.fire({
      title: "¡Lectura actualizada!",
      text: "La lectura se actualizo correctamente.",
      icon: "success",
      timer: 2000,
      showConfirmButton: false
    }).then(() => {
        window.location.href = "{% url 'readings_list' %}";
    });
  });
</script>