<tr id="connection-{{ connection.id }}">
    <td>{{ connection.description  }}</td>
    <td>{{ connection.responsible.first_name }} {{ connection.responsible.last_name }}</td>
    <td>{{ connection.responsible.community.name }}</td>
    <td>
        {% if connection.has_current_reading %}
            <span class="badge bg-success">Registrada</span>
        {% else %}
            <span class="badge bg-warning text-dark">Sin registrar</span>
        {% endif %}
    </td>
    <td class="text-center">
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-outline-primary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <span class="visually-hidden">Acciones</span>
            </button>
            <ul class="dropdown-menu">
                {% if connection.has_current_reading %}
                    <li>
                        <a href="#" 
                            class="dropdown-item">
                                <i class="fa-solid fa-droplet me-2"></i> Editar
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href=""
                            class="dropdown-item"
                            data-bs-toggle="modal"
                            data-bs-target="#readingModal"
                            hx-get="{% url 'reading_create' connection.id %}"
                            hx-target="#reading-content-modal"
                            hx-trigger="click">
                            <i class="fa-solid fa-gauge-simple-high me-2"></i> Registrar
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </td>
</tr>