<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        {% if project and project.title %}
          {{ project.title }}
        {% else %}
          ACASA Poza Azul
        {% endif %}
      {% endblock %}
    </title>

    <!-- CSS externos -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.3/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" />

    <!-- Archivos estáticos -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <!-- Header -->
    <header>
      <nav class="navbar fixed-top">
        <div class="container-fluid">
          <button class="btn btn-outline-light me-3" type="button" id="sidebar-toggler"><i class="fas fa-bars"></i></button>
          <div class="text-light">
            <a href="{% url 'inicio' %}" class="link-light text-decoration-none">
              <h5 class="m-0">
                {% if project and project.title %}
                  {{ project.title }}
                {% else %}
                  ACASA Poza Azul
                {% endif %}
              </h5>
            </a>
          </div>

          <div class="ms-auto">
            <div class="dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="usuarioDropdown" data-bs-toggle="dropdown">
                {% if request.user.foto %}
                  <img src="{{ request.user.foto.url }}" alt="{{ request.user.username }}" class="rounded-circle border border-2 border-info me-2 user-photo-session" />
                {% else %}
                  <img src="{% static 'img/not_found.jpg' %}" alt="Usuario" class="rounded-circle border border-2 border-info me-2 user-photo-session" />
                {% endif %}
                <span class="d-none d-sm-inline">Bienvenid@, {{ request.user.username }}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end z-3">
                <li>
                  <span class="dropdown-item disabled">
                    <i class="fas fa-user-shield me-2"></i>
                    <strong>{{ request.user.groups.first.name }}</strong>
                  </span>
                </li>
                  <a class="dropdown-item" href="{% url 'profile_view' %}"><i class="fas fa-user me-2"></i> Perfil</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item text-danger" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt me-2"></i> Cerrar sesión
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- Sidebar -->
    <div class="sidebar active" id="sidebar">
      <div class="sidebar-header">
        <a href="{% url 'inicio' %}">
          <img src="{% if project and project.logo %}
              {{ project.logo.url }}
            {% else %}
              {% static 'img/image-not-found.png' %}
            {% endif %}"
            alt="Logo ACASA Poza Azul"
            class="logo-sidebar" />
        </a>
      </div>
      <div class="sidebar-menu p-2">
        <a href="{% url 'inicio' %}"><i class="fas fa-home me-2"></i> Inicio</a>

        {% if request.user.groups.first and request.user.groups.first.name == "ADMINISTRADOR" %}
        <a class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#submenuSeguridad">
          <span><i class="fa-solid fa-shield-halved me-3"></i>Seguridad</span>
          <i class="fas fa-chevron-down small"></i>
        </a>
        <div class="collapse ps-4" id="submenuSeguridad">
          <a href="{% url 'users_list' %}"><i class="fa-solid fa-circle-user me-3"></i>Usuarios</a>
        </div>
        {% endif %}

        <a class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#submenuProyecto">
          <span><i class="fa-solid fa-building me-3"></i>Proyecto</span>
          <i class="fas fa-chevron-down small"></i>
        </a>
        <div class="collapse ps-4" id="submenuProyecto">
          <a href="{% url 'project_info' %}"><i class="fa-solid fa-file-invoice me-3"></i>Información</a>
          <a href="{% url 'fee_list' %}"><i class="fa-solid fa-circle-dollar-to-slot me-3"></i>Tarifa</a>
          <a href="{% url 'community_list' %}"><i class="fa-solid fa-map-location-dot me-3"></i>Comunidades</a>
          <a href="{% url 'directive_list' %}"><i class="fa-solid fa-users-line me-3"></i>Directiva</a>
          <a href="{% url 'partners_list' %}"><i class="fa-solid fa-users me-3"></i>Socios</a>
          <a href="{% url 'connections_list' %}"><i class="fa-solid fa-faucet-drip me-3"></i></i>Acometidas</a>
          <a href="{% url 'payment_list' %}"><i class="fa-solid fa-credit-card me-3"></i>Pagos</a>
          <a href="{% url 'payment_list_view' %}"><i class="fa-solid fa-credit-card me-3"></i>Lista de Pagos</a>
        </div>

        <a class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#submenuReuniones">
          <span><i class="fas fa-calendar-check me-3"></i>Reuniones</span>
          <i class="fas fa-chevron-down small"></i>
        </a>
        <div class="collapse ps-4" id="submenuReuniones">
          <a href="{% url 'meet_list' %}"><i class="fa-solid fa-plus me-2"></i>Reuniones</a>
          <a href="{% url 'attendance' %}"><i class="fa-solid fa-clipboard-user me-2"></i>Asistencia</a>
        </div>

        <a class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#submenuCobros">
          <span><i class="fa-solid fa-faucet-drip me-3"></i></i>Servicio</span>
          <i class="fas fa-chevron-down small"></i>
        </a>
        <div class="collapse ps-4" id="submenuCobros">
          <a href="{% url 'readings_list' %}"><i class="fa-solid fa-gauge-high me-2"></i>Lecturas</a>
          <a href="{% url 'collection_list' %}"><i class="fa-solid fa-coins me-2"></i></i>Cobros</a>
          <a href="{% url 'collection_list_historical' %}"><i class="fa-solid fa-coins me-2"></i></i>Historico de cobros</a>
        </div>

      </div>
    </div>

    <!-- Contenido principal -->
    <main class="content" id="main-content">
      <div class="container-fluid pt-1 mt-4" id="main-container">
        {% block content %}

        {% endblock %}
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto text-center w-100 z-3">
      <small class="footer-text">&copy; 2025 Derechos Reservados Universidad de El Salvador</small>
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_js %}

    {% endblock %}
  </body>
</html>
