{% extends "base.html" %}
{% load static %}
{% block title %}Tarifa | ACASA Poza Azul{% endblock %}

{% block content %}
    <div class="row mt-4 mb-2 text-center">
        <div class="col-12">
        <h1 class="h3">Gestión de Tarifas</h1>
        </div>
    </div>

    <div class="table-container rounded-4 shadow p-4">    
        <div class="header-controls">
            <a
              href="{% url 'fee_create_form' %}"
              class="btn btn-success"
              role="button"
            >
              <i class="fas fa-plus me-1"></i> 
              Agregar Nueva Tarifa
            </a>
            {% include "partials/search_table.html" with hx_url=fee_search_url hx_target="#fee-list" placeholder="Buscar tarifas..." %}
        </div>
        {% include "partials/fee_table.html" %}
    </div>
{% endblock %}
{% block extra_js %}
    <script>
      document.addEventListener("click", function (e) {
      const link = e.target.closest(".activar-tarifa");
      if (link) {
        e.preventDefault();

        const url = link.dataset.url;

        Swal.fire({
          title: "¿Activar tarifa?",
          text: "Esta acción activará la tarifa seleccionada y desactivará cualquier otra tarifa activa.",
          icon: "warning",
          showCancelButton: true,
          customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-secondary'
          },
          confirmButtonText: 'Sí, activar',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
            title: 'Activada',
            text: 'La tarifa se activó correctamente.',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then(() => {
            window.location.href = url;
          });
          }
        });
      }
    });
    </script>
{% endblock %}