{% extends "base.html" %}
{% load static %}
{% block title %}Tarifa | ACASA Poza Azul{% endblock %}

{% block content %}
    <div class="mt-5 mb-4 text-center">
        <h1 class="h3">Gestión de Tarifas</h1>
    </div>

    <div class="table-container rounded-4 shadow p-4">    
        <div class="header-controls">
            <a
              href="{% url 'fee_create_form' %}"
              class="btn btn-success"
              role="button"
            >
              <i class="fas fa-plus me-1"></i> 
              Agregar Nueva Tarifa
            </a>
            {% include "partials/search_table.html" with hx_url=fee_search_url hx_target="#fee-list" placeholder="Buscar tarifas..." %}
        </div>
        {% include "partials/fee_table.html" %}
    </div>
{% endblock %}