<div class="row mt-4 mb-2 text-center">
  <div class="col-12">
    <h1 class="h3">Gestión de Cobros</h1>
    <h2 class="h4">{{ today|date:"F \\d\\e Y" }}</h2>
  </div>
</div>

<div class="table-container rounded-4 shadow p-4">    
  <div class="header-controls d-flex justify-content-end">
    {% include "partials/search_table.html" with hx_url=collection_search_url hx_target="#table-content" placeholder="Buscar Cobro..." %}
  </div>
  {% include "collection/partials/collection_table.html" %}
</div>
