<div class="row mt-4 mb-2 text-center">
  <div class="col-12">
    <h1 class="h3">Gestión de Cobros</h1>
    <h2 class="h4">{{ today|date:"F \\d\\e Y" }}</h2>
  </div>
</div>

<div class="table-container rounded-4 shadow p-4">    
 <div class="header-controls d-flex align-items-end justify-content-between">

  <div class="text-center">
      <div class="card border-0 shadow-sm rounded-4 py-2 px-2 d-inline-block">
        <span class="text-primary">
          Cobros realizados
        </span>

        <div class="display-6 fw-bold text-dark">
          {{ count_collections }}
          <span class="text-muted fs-5">/ {{ count_readings }}</span>
        </div>

      </div>

      
      <div class="card border-0 shadow-sm rounded-4 py-2 px-3 d-inline-block bg-success-subtle">
        <span class="text-success fw-semibold">Dinero colectado</span>
        <div class="display-6 fw-bold text-dark">
          ${{ total_collected|floatformat:2 }}
        </div>
      </div>
    

    </div>
 
    <a
    href="{% url 'collection_pdf' %}"
    class="btn btn-primary"
    target="_blank"
>
    <i class="fas fa-file-pdf me-1"></i> Exportar a PDF
</a>



    {% include "partials/search_table.html" with hx_url=collection_search_url hx_target="#table-content" placeholder="Buscar Cobro..." %}
  </div>
  {% include "collection/partials/collection_table.html" %}

</div>


<script>
    document.body.addEventListener("chargedReading", () => {
    Swal.fire({
      title: "¡Cobro realizado!",
      text: "El cobro se realizó correctamente.",
      icon: "success",
      timer: 2000,
      showConfirmButton: false
    });
  });
</script>