<tr id="reading-{{ item.reading.id }}">
    <td>{{ item.reading.receipt_number }}</td>
    <td>{{ item.reading.connection.description }}</td>
    <td>{{ item.reading.connection.responsible.first_name }} {{ item.reading.connection.responsible.last_name }}</td>
    <td>{{ item.reading.connection.responsible.community.name }}</td>
    <td>{{ item.reading.date_reading|date:"d-m-Y" }}</td>
    <td>$ {{ item.total_to_pay  }}</td>
    <td>
        {% if item.reading.isPaid %}
            <span class="badge bg-success">Cobrado</span>
        {% else %}
            <span class="badge bg-warning text-dark">Sin cobrar</span>
        {% endif %}
    </td>
    <td class="text-center">
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-outline-primary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <span class="visually-hidden">Acciones</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"
                        class="dropdown-item"
                        hx-get="{% url 'collection_details' item.reading.id %}"
                        hx-target="#collection-details-modal"
                        hx-trigger="click">
                            <i class="fa-solid fa-file-invoice-dollar me-2"></i> Ver detalles
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>

<div id="collection-details-modal"></div>

<script>
document.body.addEventListener("htmx:afterSwap", (event) => {
  // Mostrar la modal sólo si el contenido cargado es la modal
  if (event.detail.target.id === "collection-details-modal") {
    const modalEl = document.getElementById("collectionDetailsModal");
    const modal = new bootstrap.Modal(modalEl);
    modal.show();

    // Al cerrar, limpiar backdrop y clase del body (evita el fondo oscuro)
    modalEl.addEventListener("hidden.bs.modal", () => {
      document.body.classList.remove("modal-open");
      document.querySelectorAll(".modal-backdrop").forEach(el => el.remove());
    });
  }
});
</script>