<tr id="transaction-{{ transaction.id }}">
    <td>{{ transaction.project.title }}</td>
    <td>{{ transaction.concept }}</td>
    <td>{{ transaction.get_type_display }}</td>
    <td>${{ transaction.amount }}</td>
    <td>{{ transaction.date|date:"d-m-Y" }}</td>
     <td class="text-center">
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-outline-primary"
                hx-get="{% url 'transaction_edit' transaction.id %}"
                hx-target="#transaction-content-modal"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#transactionModal"
            >
                <i class="fas fa-edit"></i>
            </button>
        </div>
    </td>
</tr>
