<div class="table-responsive rounded-3" id="table-content">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Proyecto</th>
                <th>Concepto</th>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Fecha</th>
                {% if show_actions %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody id="table-body">
            {% for transaction in page_obj %}
                {% include "partials/finance/transaction_row_table.html" %}
            {% empty %}
                <tr>
                    <td colspan="6">No hay transacciones</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 {% include "partials/paginator.html" with hx_url=transaction_search_url hx_target="#table-content" per_page_options=per_page_options %}
</div>
