<div class="row mt-4 mb-2 text-center">
  <div class="col-12">
    <h1 class="h3">Gestión de acometidas</h1>
  </div>
</div>

<div class="table-container rounded-4 shadow p-4">    
  <div class="header-controls">
    <button
        id="btn-abrir-crud"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        hx-get="{% url 'connection_create_view' %}"
        hx-target="#connection-content-modal"
        hx-trigger="click"
    >
      <i class="fas fa-plus me-1"></i> Agregar Nueva Acometida
    </button>
      {% include "partials/search_table.html" with hx_url=connections_search_url hx_target="#table-content" placeholder="Buscar Acometida..." %}
  </div>
  {% include "water_connection/partials/connection_table.html" %}
</div>

{% include "water_connection/partials/connection_create_modal.html" %}