<div class="table-responsive rounded-3" id="table-content">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
        <tr>
            <th>Socio</th>
            <th>DUI</th>
            <th>Comunidad</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody id="table-body">
        {% for attendance in page_obj %}
            {% include "partials/attendance/attendance_row_table.html" %}
        {% empty %}
            <tr>
                <td colspan="6">No hay resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "partials/paginator.html" with hx_url=attendance_search_url hx_target="#table-content" per_page_options=per_page_options %}
</div>
